/* Common CSS */

#header-box {
    -fx-background-color: #97719d;
    -fx-alignment: center-left;
    -fx-padding: 0 20 0 20;
}

.root {
    -fx-font-family: 'Roboto';
}

#sidebox {
    -fx-background-color: derive(#97719d, 20%);
}

.sidebox-button-label {
    -fx-text-fill: white;
}

.sidebox-button-notlast {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(#97719d, -10%);
}

.sidebox-button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}

.sidebox-button:hover {
    -fx-background-color: derive(#97719d, 10%);
    -fx-cursor: hand;
}

#title {
    -fx-font-size: 48;
    -fx-text-fill: white;
}

#header-auth-btn {
    -fx-background-color: transparent;
    -fx-border-color: derive(#97719d, -20%);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-content-display: left;
    -fx-font: normal Bold 14 'Roboto';
}

#header-auth-btn:hover {
    -fx-background-color: derive(#97719d, -20%);
}

Button {
    -fx-cursor: hand;
}

.scroll-pane, .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#page-content {
    -fx-background-color: #deeaba;
}

/*-------------------*/

/* Main page */

.main-page-content {
    -fx-alignment: top-center;
    -fx-padding: 20 75 20 75;
}

.document-title {
    -fx-font: normal Bold 20 'Roboto';
}

.document-author {
    -fx-font-size: 16;
}

.document-line {
    -fx-background-color: white;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: derive(white, -20%);
}

.document-line:hover {
    -fx-background-color: derive(white, -20%);
}

#search-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #e9e9e9;
    -fx-padding: 0 0 5 0;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#search-field:focused {
    -fx-border-color: lightskyblue;
    -fx-border-width: 0 0 2 0;
}

#search-bar {
    -fx-background-radius: 100;
    -fx-background-color: #779d71;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-padding: 40 60 40 60;
    -fx-spacing: 10;
}

#search-bar:hover {
    -fx-background-color: derive(#779d71, -20%);
}

/*------------------*/

/* Form page */

.form-page-content {
    -fx-alignment: center;
}

.form-box {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-background-color: derive(white, -5%);
    -fx-background-radius: 10;
    -fx-border-color: derive(white, -50%);
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.form-button {
    -fx-border-color: derive(white, -20%);
    -fx-background-color: white;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.form-button:hover {
    -fx-background-color: derive(white, -5%);
}

/*-------------------*/