/* Common CSS */

* {
    -header-color: #06367a;
    -content-color: #266fd5;
}

#header-box {
    -fx-background-color: -header-color;
    -fx-alignment: center-left;
    -fx-padding: 0 20 0 20;
    -fx-spacing: 10;
}

.root {
    -fx-font-family: 'Roboto';
}

#sidebox {
    -fx-background-color: derive(-header-color, 20%);
}

.sidebox-button-label {
    -fx-text-fill: white;
}

.sidebox-button-notlast {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derive(-header-color, -10%);
}

.sidebox-button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}

.sidebox-button:hover {
    -fx-background-color: derive(-header-color, 10%);
    -fx-cursor: hand;
}

#title {
    -fx-font-size: 48;
    -fx-text-fill: white;
}

#header-auth-btn {
    -fx-background-color: derive(-header-color, -20%);
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-content-display: left;
    -fx-font: normal Bold 14 'Roboto';
}

#header-auth-btn:hover {
    -fx-background-color: derive(-header-color, -30%);
}

Button {
    -fx-cursor: hand;
}

.scroll-pane, .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#page-content {
    -fx-background-color: derive(#ebf2fc, -10%);
}

/*-------------------*/

/* Main page */

.main-page-content {
    -fx-alignment: top-center;
    -fx-padding: 20 75 20 75;
}

.document-title {
    -fx-font: normal Bold 20 'Roboto';
}

.document-author {
    -fx-font-size: 16;
}

.document-line {
    -fx-background-color: white;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: derive(white, -20%);
}

.document-line:hover {
    -fx-background-color: derive(white, -20%);
}

#search-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #e9e9e9;
    -fx-padding: 0 0 5 0;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#search-field:focused {
    -fx-border-color: lightskyblue;
    -fx-border-width: 0 0 2 0;
}

#search-bar {
    -fx-background-radius: 100;
    -fx-background-color: -content-color;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-padding: 40 60 40 60;
    -fx-spacing: 10;
}

#search-bar:hover {
    -fx-background-color: derive(-content-color, -20%);
}

/*------------------*/

/* Dialog pane */

.dialog-pane .button {
    -fx-background-color: -content-color;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

/*------------------*/

/* Form page */

.box {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.form-box {
    -fx-padding: 15;
    -fx-spacing: 7;
}

.form-button {
    -fx-background-color: -content-color;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.form-button:hover {
    -fx-background-color: derive(-content-color, -10%);
}

.form-title {
    -fx-font: normal Bold 24 'Roboto';
    -fx-text-fill: -header-color;
}

.form-description {
    -fx-font: normal normal 14 'Roboto';
    -fx-text-fill: black;
}

.form-component-label {
    -fx-font: normal Bold 14 'Roboto';
    -fx-text-fill: black;
}

.text-component {
    -fx-font: normal normal 14 'Roboto';
}

.form-component-description {
    -fx-font: normal normal 12 'Roboto';
    -fx-text-fill: black;
}

/*-------------------*/

/* Admin */

.admin-content {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: top-center;
}

.admin-scene-title {
    -fx-font: normal Bold 28 'Roboto';
    -fx-text-fill: -header-color;
    -fx-text-alignment: center;
}

/*-------------------*/

/* Lists */

.list-elem {
    -fx-padding: 2 10 2 10;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.list-elem:hover {
    -fx-background-color: derive(white, -3%);
}

.list-elem-title {
    -fx-font: normal Bold 16 'Roboto';
}

.list-elem-content {
    -fx-font: normal normal 14 'Roboto';
}

/*------------------*/